.underline {
    text-decoration: underline;
}
.muted-text {
    color: rgb(108,117,125) !important;
}
/*--------------------Width--------------------*/

.w-25 {
    width: 25% !important;
}
.w-50 {
    width: 50% !important;
}
.w-75 {
    width: 75% !important;
}
.w-100{
    width: 100% !important;
}

/*--------------------Margin--------------------*/
.mx-auto{
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-auto{
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.my-1 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.my-2{
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.my-3{
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.my-4{
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.my-5{
    margin-top: 48px !important;
    margin-bottom: 48px  !important;
}


.ml-auto {
    margin-left: auto !important;
}
.mr-auto {
    margin-right: auto !important;
}
.mt-auto{
    margin-top: auto !important;
}
.mb-auto {
    margin-bottom: auto !important;
}

.ml-1 {
  margin-left: 4px !important;
}
.ml-2 {
  margin-left:  8px!important;
}
.ml-3 {
  margin-left: 16px !important;
}
.ml-4 {
  margin-left: 24px !important;
}
.ml-5 {
  margin-left: 48px !important;
}


.mr-1{
    margin-right: 4px !important;
}
.mr-2{
    margin-right: 8px !important;
}
.mr-3{
    margin-right: 16px !important;
}
.mr-4{
    margin-right: 24px !important;
}
.mr-5{
    margin-right: 48px !important;
}

.mt-1{
    margin-top: 4px !important;
}
.mt-2{
    margin-top: 8px !important;
}
.mt-3{
    margin-top: 16px !important;
}
.mt-4{
    margin-top: 24px !important;
}
.mt-5{
    margin-top: 48px !important;
}


.mb-1{
    margin-bottom: 4px !important;
}
.mb-2{
    margin-bottom: 8px !important;
}
.mb-3{
    margin-bottom: 16px !important;
}
.mb-4{
    margin-bottom: 24px !important;
}
.mb-5{
    margin-bottom: 48px !important;
}


/*--------------------Padding--------------------*/

.pl-1 {
    padding-left: 4px !important;
}
.pl-2 {
    padding-left:  8px!important;
}
.pl-3 {
    padding-left: 16px !important;
}
.pl-4 {
    padding-left: 24px !important;
}
.pl-5 {
    padding-left: 48px !important;
}


.pr-1{
    padding-right: 4px !important;
}
.pr-2{
    padding-right: 8px !important;
}
.pr-3{
    padding-right: 16px !important;
}
.pr-4{
    padding-right: 24px !important;
}
.pr-5{
    padding-right: 48px !important;
}

.pt-1{
    padding-top: 4px !important;
}
.pt-2{
    padding-top: 8px !important;
}
.pt-3{
    padding-top: 16px !important;
}
.pt-4{
    padding-top: 24px !important;
}
.pt-5{
    padding-top: 48px !important;
}


.pb-1{
    padding-bottom: 4px !important;
}
.pb-2{
    padding-bottom: 8px !important;
}
.pb-3{
    padding-bottom: 16px !important;
}
.pb-4{
    padding-bottom: 24px !important;
}
.pb-5{
    padding-bottom: 48px !important;
}


/*--------------------Plate--------------------*/

.plate {
    font-size: 75%;
    padding: 4px 6px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 4px;
    cursor: default;
}

.plate-sky{
    color: white;
    background-color: rgb(0, 123, 225);
}

.plate-stone{
    color: white;
    background-color: rgb(108,117,125);
}
.plate-grass{
    color: white;
    background-color: rgb(40,167,69);
}
.plate-stop{
    color: white;
    background-color: rgb(220,53,69);
}
.plate-warning{
    color: rgb(33,37,41);
    background-color: rgb(255,193,7);
}
.plate-orange{
    color: rgb(33,37,41);
    background-color: rgb(255,139,7);
}
.plate-info{
    color: white;
    background-color: rgb(23,162,184);
}
.plate-light{
    color: rgb(33,37,41);
    background-color: rgb(248,249,250);
}
.plate-dark{
    color: white;
    background-color: rgb(52,58,64);
}
.plate-notification {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 160px;
  }

/*--------------------Button--------------------*/
.btn{
    display: inline-block;
    color: rgb(33,37,41);
    background-color: transparent;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px transparent solid;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-small {
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 3px;
}
.btn-large {
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 5px;
}

.btn-sky {
    color: white;
    background-color: rgb(0, 123, 225);
    border-color: rgb(0, 123, 225);
}
.btn-transparent-sky{
    color: rgb(0, 123, 225);
    background-color: transparent;
    border-color: rgb(0, 123, 225);
}

.btn-stone {
    color: white;
    background-color: rgb(108,117,125);
    border-color: rgb(108,117,125);
}
.btn-transparent-stone {
    color: rgb(108,117,125);
    background-color: transparent;
    border-color: rgb(108,117,125);
}
  
.btn-grass {
    color: white;
    background-color: rgb(40,167,69);
    border-color: rgb(40,167,69);
}
.btn-transparent-grass {
    color: rgb(40,167,69);
    background-color: transparent;
    border-color: rgb(40,167,69);
}

.btn-stop {
    color: white;
    background-color: rgb(220,53,69);
    border-color: rgb(220,53,69);
}
.btn-transparent-stop {
    color: rgb(220,53,69);
    background-color: transparent;
    border-color: rgb(220,53,69);
}

.btn-warning {
    color: rgb(33,37,41);
    background-color: rgb(255,193,7);
    border-color: rgb(255,193,7);
}
.btn-transparent-warning {
    color: rgb(255,193,7);
    background-color: transparent;
    border-color: rgb(255,193,7);
}

.btn-orange{
    color: rgb(33,37,41);
    background-color: rgb(255, 139, 7);
    border-color: rgb(255, 139, 7);
}
.btn-transparent-orange{
    color: rgb(255, 139, 7);
    background-color: transparent;
    border-color: rgb(255, 139, 7);
}

.btn-info {
    color: #fff;
    background-color: rgb(23,162,184);
    border-color: rgb(23,162,184);
}
.btn-transparent-info {
    color: rgb(23,162,184);
    background-color: transparent;
    border-color: rgb(23,162,184);
}

.btn-light {
    color: rgb(33,37,41);
    background-color: rgb(248,249,250);
    border-color: rgb(248,249,250);
}
.btn-transparent-light {
    color: rgb(248,249,250);
    background-color: transparent;
    border-color: rgb(248,249,250);
}

.btn-dark {
    color: white;
    background-color: rgb(52,58,64);
    border-color: rgb(52,58,64);
}
.btn-transparent-dark {
    color: rgb(52,58,64);
    background-color: transparent;
    border-color: rgb(52,58,64);
}

.btn-collection{
    display: inline-flex;
}

.btn-collection .btn{
    position: relative;
    outline: none;
}
.btn-collection .btn:not(:first-child){
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.btn-collection .btn:not(:last-child){
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*--------------------Cards--------------------*/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card-body {
    min-height: 1px;
    padding: 20px;
}
.card-body p{
    margin-bottom: 20px;
}
.card-top-img {
    flex-shrink: 0;
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card-text:last-child {
    margin-bottom: 0;
}
.card-title{
    margin-bottom: 12px;
}
.card-subtitle{
    margin-top: -6px;
    margin-bottom: 0px;
}
.card-link + .card-link {
    margin-left: 1.25rem;
}
.card-ul{
    margin-left: -10px;
}
.card-body a.w-100{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

/*--------------------Form--------------------*/

.form-collection{
    margin-bottom: 16px;
}

.form-control, .form-control-large, .form-control-small {
    display: block;
    width: 100%;
    height: 24px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control-large {
    height: 30px;
    padding: 8px 16px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 5px;
}
.form-control-small {
    height: 21px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 3px;
}
.form-control-range {
    display: block;
    width: 100%;
}
.form-check-label, .form-radio-label {
    margin-bottom: 0;
} 
.form-check-label-disabled, .form-radio-label-disabled{
    color: rgb(108,117,125);
}


/*--------------------Boxite--------------------*/

.boxite {
    padding: 32px 16px;
    margin-bottom: 32px;
    background-color: rgb(233,236,239);
    border-radius: 5px;
    padding: 64px 32px;
}


/*--------------------Container--------------------*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*----------------Galaxy S5----------------*/
@media (min-device-width: 355px) and (max-device-width: 365px) {
    .container {
        max-width: 330px;
    }
}

/*----------------Pixel 2 / Pixel 2XL----------------*/
@media (min-device-width: 410px) and (max-device-width: 415px) {
    .container {
        max-width: 381px;
    }
}
/*----------------iPhone X----------------*/
@media (min-device-width: 374px) and (max-device-width: 380px) {
    .container {
        max-width: 345px;
    }
}


@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


/*--------------------List Collection--------------------*/

.list-collection {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 4px;
}
.list-collection-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-collection-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
  
.list-collection-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
.list-collection-item + .list-collection-item {
    border-top-width: 0;
}
.list-collection-item.active {
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
}
.list-collection-item + .list-collection-item.active {
    margin-top: -1px;
    border-top-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-collection-item-sky {
    color: rgb(0, 64, 133);
    background-color: rgb(184, 218, 255);
}
.list-collection-item-stone {
    color: rgb(56, 61, 65);
    background-color: rgb(214, 216, 219);
}
.list-collection-item-grass {
    color: rgb(21, 87, 36);
    background-color: rgb(194, 229, 202);
}
.list-collection-item-stop {
    color: rgb(114, 28, 36);
    background-color: rgb(245, 198, 203);
}
.list-collection-item-warning {
    color: rgb(133, 100, 4);
    background-color: rgb(255, 238, 186);
} 
.list-collection-item-orange {
    color: rgb(245, 118, 4);
    background-color: rgb(255, 201, 139);
} 
.list-collection-item-info {
    color: rgb(12, 84, 96);
    background-color: rgb(190, 229, 235);
}
.list-collection-item-light {
    color: rgb(129, 129, 130);
    background-color: rgb(253, 253, 254);
}
.list-collection-item-dark {
    color: rgb(27, 30, 33);
    background-color: rgb(198, 200, 202);
}
