.underline {
    text-decoration: underline;
}
/*--------------------Plate--------------------*/

.plate {
    font-size: 75%;
    padding: 4px 6px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 4px;
}

.plate-sky{
    color: white;
    background-color: rgb(0, 123, 225);
}

.plate-stone{
    color: white;
    background-color: rgb(108,117,125);
}
.plate-grass{
    color: white;
    background-color: rgb(40,167,69);
}
.plate-danger{
    color: white;
    background-color: rgb(220,53,69);
}
.plate-warning{
    color: rgb(33,37,41);
    background-color: rgb(255,193,7);
}
.plate-info{
    color: white;
    background-color: rgb(23,162,184);
}
.plate-light{
    color: rgb(33,37,41);
    background-color: rgb(248,249,250);
}
.plate-dark{
    color: white;
    background-color: rgb(52,58,64);
}


/*--------------------Button--------------------*/
.btn{
    color: rgb(33,37,41);
    background-color: transparent;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px transparent solid;
    padding: 6px 12px;
}
.btn-sky {
    color: #fff;
    background-color: rgb(0, 123, 225);
    border-color: rgb(0, 123, 225);
}
.btn-sky:hover {
    color: #fff;
    border-color: rgb(0,98,204);
    background-color: rgb(0,98,204);
}
.btn-grass {
    color: #fff;
    background-color: rgb(108,117,125);
    border-color: rgb(108,117,125);
}
  
.btn-grass:hover {
    color: #fff;
    border-color: rgb(84,91,98);
    background-color: rgb(84,91,98);
}

.btn-success {
    color: #fff;
    background-color: rgb(40,167,69);
    border-color: rgb(40,167,69);
}

.btn-success:hover {
    color: #fff;
    background-color: rgb(33,136,56);
    border-color: rgb(33,136,56);
}