.underline {
    text-decoration: underline;
}
/*--------------------Plate--------------------*/

.plate {
    font-size: 75%;
    padding: 4px 6px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 4px;
    cursor: default;
}

.plate-sky{
    color: white;
    background-color: rgb(0, 123, 225);
}

.plate-stone{
    color: white;
    background-color: rgb(108,117,125);
}
.plate-grass{
    color: white;
    background-color: rgb(40,167,69);
}
.plate-stop{
    color: white;
    background-color: rgb(220,53,69);
}
.plate-warning{
    color: rgb(33,37,41);
    background-color: rgb(255,193,7);
}
.plate-orange{
    color: rgb(33,37,41);
    background-color: rgb(255,139,7);
}
.plate-info{
    color: white;
    background-color: rgb(23,162,184);
}
.plate-light{
    color: rgb(33,37,41);
    background-color: rgb(248,249,250);
}
.plate-dark{
    color: white;
    background-color: rgb(52,58,64);
}

/*--------------------Button(class="btn")--------------------*/
.btn{
    color: rgb(33,37,41);
    background-color: transparent;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px transparent solid;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-small {
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 3px;
}
.btn-large {
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 5px;
}

.btn-sky {
    color: white;
    background-color: rgb(0, 123, 225);
    border-color: rgb(0, 123, 225);
}
.btn-transparent-sky{
    color: rgb(0, 123, 225);
    background-color: transparent;
    border-color: rgb(0, 123, 225);
}

.btn-stone {
    color: white;
    background-color: rgb(108,117,125);
    border-color: rgb(108,117,125);
}
.btn-transparent-stone {
    color: rgb(108,117,125);
    background-color: transparent;
    border-color: rgb(108,117,125);
}
  
.btn-grass {
    color: white;
    background-color: rgb(40,167,69);
    border-color: rgb(40,167,69);
}
.btn-transparent-grass {
    color: rgb(40,167,69);
    background-color: transparent;
    border-color: rgb(40,167,69);
}

.btn-stop {
    color: white;
    background-color: rgb(220,53,69);
    border-color: rgb(220,53,69);
}
.btn-transparent-stop {
    color: rgb(220,53,69);
    background-color: transparent;
    border-color: rgb(220,53,69);
}

.btn-warning {
    color: rgb(33,37,41);
    background-color: rgb(255,193,7);
    border-color: rgb(255,193,7);
}
.btn-transparent-warning {
    color: rgb(255,193,7);
    background-color: transparent;
    border-color: rgb(255,193,7);
}

.btn-orange{
    color: rgb(33,37,41);
    background-color: rgb(255, 139, 7);
    border-color: rgb(255, 139, 7);
}
.btn-transparent-orange{
    color: rgb(255, 139, 7);
    background-color: transparent;
    border-color: rgb(255, 139, 7);
}

.btn-info {
    color: #fff;
    background-color: rgb(23,162,184);
    border-color: rgb(23,162,184);
}
.btn-transparent-info {
    color: rgb(23,162,184);
    background-color: transparent;
    border-color: rgb(23,162,184);
}

.btn-light {
    color: rgb(33,37,41);
    background-color: rgb(248,249,250);
    border-color: rgb(248,249,250);
}
.btn-transparent-light {
    color: rgb(248,249,250);
    background-color: transparent;
    border-color: rgb(248,249,250);
}

.btn-dark {
    color: white;
    background-color: rgb(52,58,64);
    border-color: rgb(52,58,64);
}
.btn-transparent-dark {
    color: rgb(52,58,64);
    background-color: transparent;
    border-color: rgb(52,58,64);
}
  
  
  