a:hover {
    color: rgb(00, 86, 190);
}

a.plate-sky:hover {
    color: white;
    background-color: rgb(0,98,204);
    cursor: default;
}
a.plate-stone:hover{
    color: white;
    background-color: rgb(84,91,98);
    cursor: default;
}
a.plate-grass:hover{
    color: white;
    background-color: rgb(30,126,52);
    cursor: default;
}
a.plate-stop:hover{
    color: white;
    background-color: rgb(189,33,48);
    cursor: default;
}
a.plate-warning:hover{
    color: rgb(33,37,41);
    background-color: rgb(211,158,0);
    cursor: default;
}
a.plate-orange:hover{
    color: white;
    background-color: rgb(211,104,0);
    cursor: default;
}
a.plate-info:hover{
    color: white;
    background-color: rgb(17,122,139);
    cursor: default;
}
a.plate-light:hover{
    color: rgb(33,37,41);
    background-color: rgb(218,224,229);
    cursor: default;
}
a.plate-dark:hover{
    color: white;
    background-color: rgb(29,33,36);
    cursor: default;
}

/*--------------------Button(class="btn")--------------------*/

.btn-sky:hover {
    color: white;
    border-color: rgb(0,98,204);
    background-color: rgb(0,98,204);
}
.btn-transparent-sky:hover{
    color: white;
    background-color: rgb(0, 123, 225);
    border-color: rgb(0, 123, 225);
}

.btn-stone:hover {
    color: white;
    border-color: rgb(84,91,98);
    background-color: rgb(84,91,98);
}
.btn-transparent-stone:hover {
    color: white;
    background-color: rgb(108,117,125);
    border-color: rgb(108,117,125);
}

.btn-grass:hover {
    color: white;
    background-color: rgb(33,136,56);
    border-color: rgb(33,136,56);
}
.btn-transparent-grass:hover {
    color: white;
    background-color: rgb(40,167,69);
    border-color: rgb(40,167,69);
}

.btn-stop:hover {
    color: white;
    background-color: rgb(200,35,51);
    border-color: rgb(200,35,51);
}
.btn-transparent-stop:hover {
    color: white;
    background-color: rgb(220,53,69);
    border-color: rgb(220,53,69);
}

.btn-warning:hover {
    color: rgb(33,37,41);
    background-color: rgb(224,168,0);
    border-color: rgb(224,168,0);
}
.btn-transparent-warning:hover {
    color: white;
    background-color: rgb(255,193,7);
    border-color: rgb(255,193,7);
}

.btn-orange:hover{
    color: rgb(33,37,41);
    background-color: rgb(224, 139, 7);
    border-color: rgb(224, 139, 7);
}
.btn-transparent-orange:hover{
    color: white;
    background-color: rgb(255, 139, 7);
    border-color: rgb(255, 139, 7);
}

.btn-info:hover {
    color: white;
    background-color: rgb(19,132,150);
    border-color: rgb(19,132,150);
}
.btn-transparent-info:hover {
    color: white;
    background-color: rgb(23,162,184);
    border-color: rgb(23,162,184);
}

.btn-light:hover {
    color: rgb(33,37,41);
    background-color: rgb(226,230,234);
    border-color: rgb(226,230,234);
}
.btn-transparent-light:hover {
    color: rgb(33,37,41);
    background-color: rgb(248,249,250);
    border-color: rgb(248,249,250);
}

.btn-dark:hover {
    color: white;
    background-color: rgb(35,39,43);
    border-color: rgb(35,39,43);
}
.btn-transparent-dark:hover {
    color: white;
    background-color: rgb(52,58,64);
    border-color: rgb(52,58,64);
}