html {
    font-family: sans-serif, Helvetica, Arial;
    color: rgba(0, 0, 0, 0);
    line-height: 1.15;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: "regular";
    font-size: 16px;
    line-height: 24px;
    color: rgb(33, 37, 41);
    background-color: white;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2
}

p {
    margin-top: 0px;
    margin-bottom: 8px;
}

a {
    color: rgb(00, 123, 225);
    text-decoration: none;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }

input,button,select,optgroup,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input{
    overflow: visible;
}
label{
    display: inline-block;
    margin-bottom: 8px;
}
small {
  font-size: 80%;
  font-weight: 400;
}